<div class="top-login">
  <img src="../../assets/img//u126.svg">
</div>
<div class="content" role="main">
  <h2>F.E.R.</h2>
  <p>Realize seu login para acessar o sistema</p>
<form action="/dashbord">
    <div class="form-group">
      <label for="exampleInputEmail1">Nome de Usuário</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User">
      <small id="emailHelp" class="form-text text-muted">Nunca compartilharemos seu nome de usuário com mais ninguém.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Senha</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary login">Entrar</button>
  </form>
  
</div>
