<nav id="top" class="navbar fixed-top bg-red flex-md-nowrap p-0 shadow" >
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><img src="../../assets/img/u126.svg" /></a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar menu">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              
              SWIFT e Name Checker
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              
              Good Guys
            </a>
          </li>
        </ul>
      </div>
    </nav>